__pycache__/
*.py[cod]
.env
include/
lib/
Scripts/
tcl/
migrations/

# SQLite database files

0001_initial.py
0002_initial.py
0003_initial.py
0004_initial.py
0005_initial.py
0006_initial.py
0007_initial.py
0008_initial.py
0010_initial.py
0012_initial.py
0013_initial.py
0014_initial.py
0015_initial.py
0016_initial.py
0017_initial.py
0018_initial.py
0019_initial.py
0020_initial.py
0021_initial.py
0023_initial.py
0024_initial.py


